#App {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  max-width: 500px;
  padding: 48px;
}
  

  .todo {
    padding: 12px;
    background: #f8f8f8;
    margin-bottom: 24px;
  }
  
  .todo .name {
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  input {
    padding: 4px 8px;
    font-size: 18px;
  }